<div>
  <h2>Your form inputs</h2>
  <h4>Full name</h4>
  <p>
    <%= @full_name %>
  </p>
  <h4>Fun Fact</h4>
  <p>
    <%= @fact %>
  </p>
  <h4>Grade level</h4>
  <p>
    <%= @grade %>
  </p>
</div>
